jikesrvm.iml

# Local configuration
/.ant.properties

# Files for Eclipse project
/.project
/.settings
/.classpath
/.pmd
/.checkstyle
/eclipse/

# MMTk harness
/MMTk/harness/src-generated/org/mmtk/harness/lang/parser/*.java

# local test run
/build/test-runs/local*.properties

# Generated JavaLex files
/testing/tests/javalex/qb1.*.lex
/testing/tests/javalex/qb1.*.lex.java

# Directories generated during build
/components/
/dist/
/generated/
/results/
/target/

# Other stuff
/MMTk/bin
/MMTk/doc/cheatsheet/cheatsheet.blg
/MMTk/doc/cheatsheet/cheatsheet.aux
/MMTk/doc/cheatsheet/cheatsheet.bbl
/MMTk/doc/cheatsheet/cheatsheet.log
/testing/tests/gctest/cp
/testing/tests/gctest/out.*
/rvm/TAGS.ALL
/rvm/TAGS.Makefiles
/tools/bootImageRunner/Classes.tmp
/testing/tests/jni/cp
/testing/tests/jni/out.*
/testing/tests/SPECjbb2000/results
/test-output/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/misc.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# temp file
out
scratch
